.md-nav__item--section > .md-nav__link, .md-nav__title {
    font-weight: 700;
    font-size: 0.9em;
    color: rgb(77, 77, 77) !important;
    text-transform: uppercase;
}

.md-nav__item--section > .md-nav {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

@media screen and (min-width: 76.25em) {
    .md-nav--primary .md-nav__title {
        display: none;
    }
}

.md-nav__item--section > .md-nav {
    margin-block-start: 0;
}

.md-sidebar--primary {
    padding: 0.6rem 0;
}

.md-header {
  box-shadow: none;
  border-bottom: 1px solid #0000001a;
  transition: box-shadow 0.4s ease, border-bottom-color 0.4s ease, border-bottom-width 0.4s ease;
}

.md-typeset .compatibility-matrix table,
.md-typeset .compatibility-matrix table th,
.md-typeset .compatibility-matrix table td {
    border: 1px solid var(--md-default-fg-color--lightest);
}

.compatibility-matrix table th,
.compatibility-matrix table td {
    text-align: center !important;
}

.compatibility-matrix table td:first-child {
    text-align: left !important;
}